<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickawiki - Clickability Wiki</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/user.css">
</head>

<body ng-app="clickawiki" ng-controller="mainController as vm" >
	<nav-bar navTitle="{{vm.navTitle}}"></nav-bar>
	<div class="container" ng-cloak>
		<div class="row">
			<div class="col-md-3 left-col">
				<h4>Classes:</h4>
				<ul class="list-group classes">
					<li ng-repeat="item in vm.leftSideItems track by $index" ng-class="{active: vm.selectedItem == item}" class="class-selector list-group-item" ng-click="vm.selectClass(item)">
						<span class="class-name">{{item.name}}</span>
						<!--<span class="pull-right glyphicon glyphicon-remove-circle" ng-click="vm.removeClass(item)" aria-hidden="true"></span>-->
					</li>
				</ul>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Add new class</h3>
					</div>
					<div class="panel-body">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" ng-model="vm.leftSideItem" placeholder="Class name..." ng-keypress="vm.checkForEnter($event)">
							<span class="input-group-btn">
								<button class="btn btn-success add-class" type="button" ng-click="vm.addNewClass(vm.leftSideItem)"><span class="glyphicon glyphicon-plus-sign"></span></button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9 right-col">
				<h4>Select a class on the left to view/edit its properties.</h4>
				<div class="panel panel-primary" ng-show="!vm.isEmpty(vm.selectedItem)">
					<div class="panel-heading">
						<div class="panel-title clearfix">
							<div class="row">
								<div class="col-md-4">
									<span class="class-name-header">
									<small>
										<div class="btn-group pull-left" role="group" aria-label="Method operations">
											<h3 ng-dblclick="vm.editClass = true" ng-show="!vm.editClass">{{vm.selectedItem.name}}</h3>
											<div class="input-group method-search" ng-show="vm.editClass">
												<input ng-readonly="!vm.editClass" ng-model="vm.selectedItem.name" type="text" class="form-control" placeholder="Class Name..." ng-dblclick="vm.editClass = false" ng-keyup="vm.editClass = !vm.checkForEnter2($event)">
												<span class="input-group-btn">
													<button type="button" class="btn btn-md btn-danger" title="Remove method" ng-click="vm.removeClass(vm.selectedItem)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
												</span>
											</div>	
										</div>
									</small>
								</div>
								<div class="col-md-8">
									<div class="btn-group pull-right" role="group" aria-label="Class operations">
										<button type="button" class="btn btn-success" ng-click="vm.displayAddNewMethod()">Add method <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="input-group method-search">
							<input ng-show="vm.selectedItem.name" ng-model="vm.methodSearchText" type="text" class="form-control" placeholder="Filter methods...">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</span>
						</div>
						<div class="well" ng-show="vm.displayAddNewMethodFlag">
							<div class="form-group new-method-wrapper">
								<label>New method:</label>
								<input type="text" ng-model="vm.newMethodName" class="new-method-name form-control" placeholder="Method name..."/><br>
								<textarea ng-model="vm.newMethodBody" class="new-method-body form-control" rows="4" placeholder="Method body..."></textarea>
							</div>
							<button type="button" class="btn btn-success add-new-method" ng-click="vm.addNewMethod(vm.newMethodName, vm.newMethodBody)">Submit</button>
						</div>
						<div class="methods" ng-repeat="method in vm.selectedItem.methods| filter: {name: vm.methodSearchText} track by $index">
							<div class="well method">
								<h4 class="method-name">
									{{method.name}}
									<small>
										<div class="btn-group pull-right" role="group" aria-label="Method operations">
											<button type="button" class="btn btn-sm btn-default" title="Edit method" ng-click="vm.editMethod(method)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
											<button type="button" class="btn btn-sm btn-default" title="Remove method" ng-click="vm.removeMethod(method)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
										</div>
									</small>
								</h4>
								<hr>
								<div class="method-body">
									<p>{{method.body}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<script src="assets/js/script.js"></script>
	<script src="dist/script.js"></script>
</body>

</html>