[ng-cloak], .ng-cloak{
	display: none;
}

.class-selector:hover{
	background-color: #f5f5f5;
}

.class-name-header .panel-title {
	font-size: 1.5em;
	font-weight: bold;
}

.method-search{
	margin-bottom: 20px;
}

.method-heading {
	cursor: pointer;
}

.method-heading a {
	text-decoration: none;
	color: #333333;
}

.method hr{
	border-top: 2px solid #dddddd;
}

#new-method-parameters .list-group-item{
	background-color: #dddddd;
	border: 1px solid #bbbbbb;
}

.new-method-remove-param{
	vertical-align: middle;
	color: #d9534f;
}

.top-buffer {
	margin-top: 20px;
}

.bottom-buffer {
	margin-bottom: 20px;
}

dl {
	margin: 0;
}

dd {
	margin-left: 20px;
}

.method-return-type {
	font-weight: bold;
	font-style: italic;
	color: #3c763d;
}

.parameter-type {
	font-weight: bold;
	font-style: italic;
	color: #337ab7;
}

.method-name, .parameter-name {
	color: #d9534f;
	font-weight: bold;
}

.reviewer-name{
  margin-right:10px;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:16px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.btn.write-review{
  float:right;
  margin-top:-6px;
}

